<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Prediction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #input-Form {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        .section {
            width: 45%;
        }
        .title {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .note {
            font-size: 0.8em;
            color: gray;
            margin-top: 20px;
            align-items: center;
            text-align: center;
        }
        label {
            display: inline-block;
            width: 150px;
        }
        input {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Risk Prediction System!</h1>
    <form id="input-Form">
        <!-- 生化指标 -->
        <div class="section">
            <div class="title">Biochemical Indicators</div>
            <label for="ALT">ALT (U/L):</label><input  id="ALT" name="ALT" step="any"required><br>
            <label for="AST">AST (U/L):</label><input  id="AST" name="AST" step="any"required><br>
            <label for="albumin">Alb(g/L):</label><input  id="albumin" name="albumin" step="any"required><br>
            <label for="globulin">Glb(g/L):</label><input  id="globulin" name="globulin" step="any"required><br>
            <label for="GGT">GGT (U/L):</label><input  id="GGT" name="GGT" step="any"required><br>
            <label for="PLT">PLT (×10<sup>9</sup>/L):</label><input  id="PLT" name="PLT" step="any"required><br>
            <label for="AFP">AFP(ug/L):</label><input  id="AFP" name="AFP" step="any"required><br>
        </div>

        <!-- 凝血功能 + 乙肝病毒指标 -->
        <div class="section">
            <div class="title">Coagulation Function</div>
            <label for="PT">PT(s):</label><input  id="PT" name="PT" step="any"required><br>
            <label for="INR">INR:</label><input  id="INR" name="INR" step="any"required><br>
            <label for="APTT">APTT(s):</label><input  id="APTT" name="APTT" step="any"required><br>
            <label for="fibrinogen">Fibrinogen(g/L):</label><input  id="fibrinogen" name="fibrinogen" step="any"required><br>

            <div class="title">HBV Indicators</div>
            <label for="HBcAb">HBcAb(S/CO):</label><input  id="HBcAb" name="HBcAb" step="any"required><br>
            <label for="HBeAg">HBeAg(S/CO):</label><input  id="HBeAg" name="HBeAg" step="any"required><br>
            <label for="HBVDNA">HBV DNA (Log10 IU/ml):</label><input  id="HBVDNA" name="HBVDNA" step="any"required><br>
        </div>
    </form>

    <button type="button" onclick="submitForm()">Predict</button>
    <button type="reset" onclick="resetForm()">Reset</button>

    <h2>Prediction Result:</h2>
    <div id="result"></div>

    <div class="note">
        <p> <30, patients with chronic hepatitis B have a liver inflammation level G<2 (low risk of G≥2); </p>
        <p> >70, patients with chronic hepatitis B have a high risk of inflammation level G≥2.</p>
        <p> </p>
        <p> ALT:alanine transaminase; AST: aspartate aminotransferase; Alb: albumin; Glb: globulin; GGT: glutamyl transpeptase; </p>
        <p> PLT: platelet count; AFP:alpha-fetoprotein; PT: prothrombin time;INR: International Standardized Ratio;</p>
        <p> APTT:Activated Partial Thromboplastin Time;HBcAb:hepatitis B core antibody;HBeAg: hepatitis B surface E antigen; HBV DNA:Hepatitis B virus DNA;</p>
    </div>

    <script>
    function submitForm() {
        const formData = {};
        const formElements = document.getElementById('input-Form').elements;
        // 遍历表单元素并收集数据
    for (let i = 0; i < formElements.length; i++) {
        const field = formElements[i];

        // 检查必填字段是否为空
        if (field.name && field.value === '') {
            alert('Please ensure that you have filled in all the required fields in the input data.');
            return;  // 停止执行，防止提交空数据
        }

        // 检查输入值是否大于等于 0
        if (field.name && parseFloat(field.value) < 0) {
            alert('The value entered must be greater than or equal to 0');
            return;  // 停止执行，防止提交负数数据
        }

        if (field.name) {
            formData[field.name] = parseFloat(field.value);
        }
    }

        // 生成 ALT_AST_pca 特征
        if ('ALT' in formData && 'AST' in formData) {
            formData['ALT_AST_pca'] = 0.8715 * formData['ALT'] + 0.4904 * formData['AST'];
        }

        console.log('发送的数据:', formData); // 调试用，查看生成的 JSON 数据是否正确

        // 发送数据到后端
        fetch('https://rfmodel.onrender.com/predict', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                // 如果后端返回错误信息，显示错误
                document.getElementById('result').innerText = `error: ${data.error}`;
            } else {
                // 显示模型预测结果
                document.getElementById('result').innerText = `RF model score: ${data.score.toFixed(2)}, Risk level: ${data.grade}`;
            }
        })
        .catch(error => console.error('error:', error));
    }

    function resetForm() {
        // 清空表单数据
        document.getElementById('input-Form').reset();

        // 清空预测结果区域
        document.getElementById('result').innerText = '';
    }
    </script>
</body>
</html>
